---
import Navigation from "../components/navigation.astro";
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import Menu from '../components/menu.astro';

import "../styles/global.css";


const pageTitle = "About Me";
const identity = {
  firstName: "Gabriel",
  country: "Portugal",
  occupation: "Student",
  hobbies: ["programming", "drawing", "reading", "playing videogames"],
};
const skills = ["html", "css", "astro", "c", "c#", "sql", "gml"];
const happy = true;
const finished = true;
const goal = 3;
const skillColor = "crimson";
const fontWeight = "italic";
const textCase = "capitalize"; // importaçoes e informaçao
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Menu />
    <Header />
    <h1 class="text-magenta text-4xl">{pageTitle}</h1>
    <h2>... and my new Astro site!</h2>
    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }

    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class={`px-4 py-2 border border-dotted border-gray-400 rounded-md text-[1.15em] bg-[#F8FCFD] text-[${skillColor}] font-[${fontWeight}] [text-transform:${textCase}]`}>{skill}</li>)}
    </ul>
    <Footer />
        <script>
          import "../scripts/menu.js";
        </script>
  </body>
</html>
<!-- html simples --> 